<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ando.file.sample">

    <!--
         Apps on devices running Android 4.4 (API level 19) or higher cannot
              access external storage outside their own "sandboxed" directory, so
              the READ_EXTERNAL_STORAGE (and WRITE_EXTERNAL_STORAGE) permissions
              aren't necessary.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <!-- 访问系统自带的文件管理器"下载内容"时需要联网权限 -_-|| -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 照片的位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,LockedOrientationActivity">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.core.FileCoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.FileUtilsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.upload.FileUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storage.MediaStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storage.StorageAccessFrameworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selector.FileSelectSingleImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selector.FileSelectMultiImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selector.FileSelectMultiFilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selector.FileSelectCustomFileTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selector.fragment.FileSelectFragmentUsageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FileInfoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>